Remove fragment from redirection endpoint

Regarding:

https://github.com/uvdsl/solid-oidc-client-browser/blob/57693f3b56fcd7195169dad5d63865b3bb85d2ff/src/AuthorizationCodeGrantFlow.ts#L12

https://datatracker.ietf.org/doc/html/rfc6749#section-3.1.2 mentions:

> The redirection endpoint URI MUST be an absolute URI as defined by
   [[RFC3986] Section 4.3](https://datatracker.ietf.org/doc/html/rfc3986#section-4.3).  The endpoint URI MAY include an
   "application/x-www-form-urlencoded" formatted (per [Appendix B](https://datatracker.ietf.org/doc/html/rfc6749#appendix-B)) query
   component ([[RFC3986] Section 3.4](https://datatracker.ietf.org/doc/html/rfc3986#section-3.4)), which MUST be retained when adding
   additional query parameters.  The endpoint URI MUST NOT include a
   fragment component.

So, if an application starts its sign in where `document.location.href` is `https://example.org/#foo`, then solid-oidc-client-browser generates:

```
{"redirect_uris":["https://example.org/#foo"],"grant_types":["authorization_code","refresh_token"],"id_token_signed_response_alg":"ES256","token_endpoint_auth_method":"client_secret_basic","application_type":"web","subject_type":"public"}
```

Aside: The application should also ensure this before `Session.login(idp, redirect_uri)` but if it doesn't, then it would still be better for solid-oidc-client-browser to strip it out.

Well spotted!

https://github.com/dokieli/dokieli/commit/446062f217530bf40491d962df56843a46585505 :)